.cardContent {
  background: var(--background-secundary);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.projectName {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.projectDescription {
  font-size: 1rem;
  color: var(--foreground-secondary);
  text-align: center;
  margin-bottom: 1.5rem;
}

.url {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  margin-bottom: 1rem;
  border: 2px solid var(--link-color);
  border-radius: 30px;
  transition:
    background-color 0.3s,
    color 0.3s;
}
