.main {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  padding-top: 4.5rem;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-content: center;
  min-height: 45svh;
  margin: 45px;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin: 45px;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
  }
}

.projectsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0.5rem;
}

.p {
  color: var(--foreground-secondary);
  text-align: center;
  width: 50%;
}
