/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

/* .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.main {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  padding-top: 4.5rem;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.introContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  align-content: center;
  /* justify-items: left; */
  min-height: 45svh;
  background: var(--background-secundary);
  margin: 99px;
  padding: 80px;
  gap: 64px;
  border-radius: 30px;
  font-family: var(--font-geist-sans);
}

@media (max-width: 539px) {
  .introContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 40px;
    padding: 27px;
  }
}

.mediaIcons {
  grid-column: 1 / 3; /* spans from column 1 to column 3 (i.e., both columns) */
  display: flex;
  gap: 2rem;
  justify-self: center; /* centers horizontally within the grid area */
  text-align: center;
}

.name {
  position: relative;
  font-weight: 400;
  margin-bottom: 1rem;
}

.name::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--name-background-gradient);
  background-size: 200%;
  animation: moveLine 3s linear infinite;
  border-radius: 2px;
  box-shadow: var(--name-background-gradient);
}

@keyframes moveLine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.resumeText {
  margin: 0 0 1rem 0; /* space between paragraphs */
  line-height: 1.65; /* more breathing room */
  font-size: 1rem;
  max-width: 72ch; /* optimal measure for readability */
  color: var(--text);
  letter-spacing: 0.15px;
}

.experience {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  background-size: 200% 100%;
}

.experienceTitle {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

/* .main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
} */

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
