.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 99px;
  padding: 80px;
  border-radius: 30px;
  background: var(--background-secundary);
}

.description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.description li {
  margin-bottom: 0.5rem;
}
