.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.logoContact {
  margin-bottom: 1rem;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactLinks a {
  font-weight: bold;
  text-decoration: none;
  width: 25%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding: 0.75rem 0;
}

.contactLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  flex-wrap: wrap;
}

.menuContact {
  list-style: none;
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.menuContact li {
  position: relative;
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}

.menuContact li:hover {
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8),
    0 -4px 15px rgba(255, 255, 255, 0.5);
}

.underbar {
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  background: transparent;
  transition: all 0.4s ease;
}

.menuContact li:nth-of-type(1):hover ~ .underbar {
  left: -3px;
  width: 49px;
  background: var(--text-secondary);
}
.menuContact li:nth-of-type(2):hover ~ .underbar {
  left: 63px;
  width: 72px;
  background: var(--text-secondary);
}
.menuContact li:nth-of-type(3):hover ~ .underbar {
  left: 153px;
  width: 60px;
  background: var(--text-secondary);
}
